Playbook/SSTIncidentSPX.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "STTIncidentSPX",
            "type":  "string"
        },
        "Key":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Key"
            }
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "OnedriveforbusinessConnectionName":  "[concat('Onedriveforbusiness-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Disabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "Key":  {
                            "defaultValue":  "[parameters('Key')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Minute",
                                "interval":  1
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Minute",
                                "interval":  1
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Filter_array":  {
                            "runAfter":  {
                                "list":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Query",
                            "inputs":  {
                                "from":  "@body('list')?['value']",
                                "where":  "@equals(item()?['Name'], 'assignowner.txt')"
                            }
                        },
                        "foreach":  {
                            "foreach":  "@body('Filter_array')",
                            "actions":  {
                                "Compose":  {
                                    "runAfter":  {
                                        "GetOwner":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  "@replace(replace(body('GetOwner'),'.','@wvcrane.onmicrosoft.com'),' ','')"
                                },
                                "GetOwner":  {
                                    "runAfter":  {
                                        "Get_file_metadata_using_path":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                            }
                                        },
                                        "method":  "get",
                                        "path":  "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Get_file_metadata_using_path')?['Id']))}/content",
                                        "queries":  {
                                            "inferContentType":  true
                                        }
                                    }
                                },
                                "Get_file_metadata_using_path":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                            }
                                        },
                                        "method":  "get",
                                        "path":  "/datasets/default/GetFileByPath",
                                        "queries":  {
                                            "path":  "/AssignOwner/@{items('foreach')?['Name']}"
                                        }
                                    }
                                },
                                "Update_incident_2":  {
                                    "runAfter":  {
                                        "Compose":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "incidentArmId":  "/subscriptions/d75e3576-9a3a-4f5b-b112-b5e0088cd2e1/resourceGroups/sentinel/providers/Microsoft.OperationalInsights/workspaces/sentinel-cyberlorians/providers/Microsoft.SecurityInsights/Incidents/b0f8210f-15be-42c8-9db3-a14cee355eaa",
                                            "owner":  "@{outputs('Compose')}",
                                            "ownerAction":  "Assign"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method":  "put",
                                        "path":  "/Incidents"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Filter_array":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "list":  {
                            "runAfter":  {
                            },
                            "metadata":  {
                                "b!9J09EdzYPk-NrnAwyu6MpiVu3cz9UUNLnQHaHZB1-7cK50zCI8bXTK3LZudSJicL.016WLOP2Q4W44XIL3ZTFB2QUPVGNXFVCI2":  "/AssignOwner"
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                    }
                                },
                                "method":  "get",
                                "path":  "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent('b!9J09EdzYPk-NrnAwyu6MpiVu3cz9UUNLnQHaHZB1-7cK50zCI8bXTK3LZudSJicL.016WLOP2Q4W44XIL3ZTFB2QUPVGNXFVCI2'))}",
                                "queries":  {
                                    "skipToken":  "",
                                    "top":  20
                                }
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "onedriveforbusiness":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('OnedriveforbusinessConnectionName'))]",
                                "connectionName":  "[variables('OnedriveforbusinessConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Onedriveforbusiness')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "STTIncidentSPX",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('OnedriveforbusinessConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('OnedriveforbusinessConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('OnedriveforbusinessConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Onedriveforbusiness')]"
                }
            }
        }
    ]
}
